@model desafio_mvc.DTO.FuncionarioDTO;

@{
    Layout = "_LeftMenu";
    var tecnologias = new SelectList(ViewBag.Tecnologia, "Id", "Nome");
    var unidadesGft = new SelectList(ViewBag.Unidades, "Id", "Nome", "Cidade");
}

<link rel="stylesheet" href="~/css/vagas.css" />

<script>
    $(document).ready(function () {
        $('#dropTechFE').dropdown();
        $('#dropLocations').dropdown();

    });

</script>

<link rel="stylesheet" href="~/css/funcionario.css" />

<script src="~/js/customDay.js"></script>

@*
    <script>
    $(document).ready(function () {

    var codigoVaga = ("#" + new Date().getMinutes().toString() + new Date().getSeconds().toString() + new
    Date().getMilliseconds().toString() + (Math.round(Math.random() * 100)));

    $('#vagaCode').val(codigoVaga);
    });

    </script> *@


<header>

    <h2>Funcionarios em WA</h2>
    <h3>Editar dados do funcionário</h3>

</header>
<div class="form-container">
    <form asp-controller="Funcionario" asp-action="SalvarAlteracoesFunc" method="POST">

        <input type="hidden" asp-for="Id">

        <label asp-for="Nome">Nome</label>
        <input type="text" asp-for="Nome">
        <span asp-validation-for="Nome"></span>

        <label asp-for="Cargo">Cargo</label>
        <input type="text" asp-for="Cargo">
        <span asp-validation-for="Cargo"></span>

        <label asp-for="Inicio_wa">Data de início de WA</label>
        <input type="date" asp-for="Inicio_wa" id="dataInicio">
        <span asp-validation-for="Inicio_wa"></span>

        <label asp-for="Matricula">Matrícula</label>
        <input type="text" asp-for="Matricula">
        <span asp-validation-for="Matricula"></span>

        <label asp-for="Termino_wa">Previsão de término de WA</label>
        <input type="date" asp-for="Termino_wa" id="dataTermino">
        <span asp-validation-for="Termino_wa"></span>

        <label asp-for="Listatecnologias">Tecnologias</label>
        <select name="Listatecnologias[]" multiple="" class="ui fluid dropdown" id="dropTechFE"
            asp-for="Listatecnologias" asp-items="@tecnologias">
            <option value="">Selecionar</option>
        </select>
        <span asp-validation-for="Listatecnologias"></span>

        <a asp-controller="Tecnologia" asp-action="Cadastrar" class="btnAddTech">Não achei minha tecnologia</a>
        <input type="hidden" name="Id" asp-for="Vaga_Id" value="0">

        <label asp-for="Gft_Id">Unidades</label>
        <select class="ui dropdown" id="dropLocations" asp-for="Gft_Id" asp-items="@unidadesGft"></select>
        <span asp-validation-for="Gft_Id"></span>

        <button type="submit">Salvar alterações</button>

    </form>
</div>